@charset "utf-8";

html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: #fff;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", "ＭＳ Ｐゴシック", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  min-width: 1000px;
  font-size: 1.6em;
  position: relative;
}

img {
  border: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: normal;
  color: #f00;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

a {
  color: #046eb8;
  text-decoration: none;
}

a:visited {
  color: #046eb8;
}

a:hover {
  color: #046eb8;
}

.baseBox {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__img {
    width: 180px;

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }

  &__text {
    width: 430px;

    .join {
      color: #666;
      margin-left: 20px;
    }

    p {
      margin-top: 10px;
      line-height: 2;
    }
  }

  &__textOnly {
    p {
      line-height: 2;
    }
  }

  .question {
    margin-top: 8px;

    li + li {
      margin-top: 8px;
    }

    span {
      display: block;
      padding-bottom: 6px;
      font-weight: bold;
    }
  }
}

/* members */
.membersContents {
  width: 1000px;
  margin: auto;
  padding-top: 60px;
}
