@charset "utf-8";

html {
  overflow-y: scroll;
}

body {
  height: 100%;
  background: #fff;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", "ＭＳ Ｐゴシック", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  min-width: 1000px;
  font-size: 16px;
  position: relative;
}

img {
  border: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: normal;
  color: #f00;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

a {
  color: #046eb8;
  text-decoration: none;
}

a:visited {
  color: #046eb8;
}

a:hover {
  color: #046eb8;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
  padding: 8px;
  border: 2px solid #aaa;
  border-radius: 4px;
  width: 310px;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

input:focus {
  border: solid 2px #fb5322;
  box-shadow: 0 5px 10px 0 rgba(#000, 0.4);
}
